*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.gitlab-ci.yml
.gitpod.yml

./src/Bos.WebApi/*.db
./src/Bos.WebApi/LocalDb/*.db
./src/Bos.GrpcServer/*.db
./src/Bos.GrpcServer/LocalDb/*.db

./plus-bos-service_staging.yml
./plus-bos-service_develop.yml
./plus-bos-service_test.yml
./plus-bos-service_smarttech.yml

# database/

.codegpt